-- CreateEnum
CREATE TYPE "Role" AS ENUM ('admin', 'pengelola', 'pengguna');

-- CreateEnum
CREATE TYPE "SetoranStatus" AS ENUM ('pending', 'validated', 'rejected');

-- CreateEnum
CREATE TYPE "PencairanStatus" AS ENUM ('pending', 'approved', 'rejected');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "nama_lengkap" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "no_hp" TEXT,
    "kelurahan" TEXT,
    "kecamatan" TEXT,
    "kabupaten" TEXT,
    "detail_alamat" TEXT,
    "role" "Role" NOT NULL DEFAULT 'pengguna',
    "qr_code" TEXT,
    "qr_data" TEXT,
    "saldo" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setoran_sampah" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "jenis_sampah" TEXT NOT NULL,
    "berat_sampah" DECIMAL(18,2),
    "harga_per_kg" DECIMAL(18,2),
    "total_harga" DECIMAL(18,2),
    "metode" TEXT NOT NULL,
    "status" "SetoranStatus" NOT NULL DEFAULT 'pending',
    "pengelola_id" UUID,
    "tanggal_setor" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tanggal_validasi" TIMESTAMPTZ(6),

    CONSTRAINT "setoran_sampah_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pencairan_saldo" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "nominal" DECIMAL(18,2) NOT NULL,
    "status" "PencairanStatus" NOT NULL DEFAULT 'pending',
    "pengelola_id" UUID,
    "tanggal_request" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tanggal_pencairan" TIMESTAMPTZ(6),
    "catatan" TEXT,

    CONSTRAINT "pencairan_saldo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "artikel" (
    "id" UUID NOT NULL,
    "judul" TEXT NOT NULL,
    "konten" TEXT NOT NULL,
    "gambar" TEXT,
    "admin_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "artikel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_settings" (
    "id" UUID NOT NULL,
    "setting_key" TEXT NOT NULL,
    "setting_value" TEXT NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "app_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jenis_sampah" (
    "id" UUID NOT NULL,
    "nama" TEXT NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "jenis_sampah_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_qr_data_idx" ON "users"("qr_data");

-- CreateIndex
CREATE INDEX "users_role_idx" ON "users"("role");

-- CreateIndex
CREATE INDEX "setoran_sampah_user_id_idx" ON "setoran_sampah"("user_id");

-- CreateIndex
CREATE INDEX "setoran_sampah_pengelola_id_idx" ON "setoran_sampah"("pengelola_id");

-- CreateIndex
CREATE INDEX "setoran_sampah_jenis_sampah_idx" ON "setoran_sampah"("jenis_sampah");

-- CreateIndex
CREATE INDEX "setoran_sampah_status_idx" ON "setoran_sampah"("status");

-- CreateIndex
CREATE INDEX "pencairan_saldo_user_id_idx" ON "pencairan_saldo"("user_id");

-- CreateIndex
CREATE INDEX "pencairan_saldo_pengelola_id_idx" ON "pencairan_saldo"("pengelola_id");

-- CreateIndex
CREATE INDEX "pencairan_saldo_status_idx" ON "pencairan_saldo"("status");

-- CreateIndex
CREATE INDEX "artikel_admin_id_idx" ON "artikel"("admin_id");

-- CreateIndex
CREATE UNIQUE INDEX "app_settings_setting_key_key" ON "app_settings"("setting_key");

-- CreateIndex
CREATE UNIQUE INDEX "jenis_sampah_nama_key" ON "jenis_sampah"("nama");

-- CreateIndex
CREATE INDEX "jenis_sampah_is_active_idx" ON "jenis_sampah"("is_active");

-- AddForeignKey
ALTER TABLE "setoran_sampah" ADD CONSTRAINT "setoran_sampah_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "setoran_sampah" ADD CONSTRAINT "setoran_sampah_pengelola_id_fkey" FOREIGN KEY ("pengelola_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pencairan_saldo" ADD CONSTRAINT "pencairan_saldo_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pencairan_saldo" ADD CONSTRAINT "pencairan_saldo_pengelola_id_fkey" FOREIGN KEY ("pengelola_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "artikel" ADD CONSTRAINT "artikel_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

